[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg = "*"
django-storages = "*"
django-simple-history = "*"
boto3 = "*"
pillow = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
pandas = "*"
boxsdk = {extras = ["jwt"], version = "==3.14.0"}
pillow-heif = "*"
dalf = "*"
python-slugify = "*"
django-postgres-copy = "*"
exifread = "*"

[dev-packages]

[requires]
python_version = "3.14"

[pipenv]
allow_prereleases = true
